.about-me-section {
  text-align: center;
  position: relative;
  
}

.about-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 75px 0 0 0;
    border-left: 2px solid rgba(56, 125, 255, 0.17);
    border-right: 2px solid rgba(56, 125, 255, 0.17);
}

.about-me-title {
  font-size: 42px;
  color: midnightblue;
  margin-bottom: 20px;
}

.postcard {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  padding: 20px;
  transition: opacity 1s ease-in-out;
  font-family: sans-serif;
}

.postcard p {
    font-size: 20px;
    text-align: left;
    padding: 0 7.5px;
}

.hidden {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.postcard-image {
  flex: 1;
  min-width: 250px;
}

.comptia {
  margin-top: 10px;
  margin-bottom: -10px;
  width: 45%;
}

.profile_picture {
  width: 100%;
  border-radius: 16px;
}

.postcard-content {
  flex: 2;
  padding: 0px 20px;
}

.name {
  font-size: 36px;
  color: midnightblue;
}

.titles {
  font-size: 22px;
  margin-bottom: 15px;
  color: midnightblue;
}

.highlights {
  text-align: left;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.highlights li {
  font-size: 18px;
  margin-bottom: 8px;
}

.fun-quote {
  font-style: italic;
  color: gray;
  margin-top: 15px;
}

.postcard-links {
  margin-top: 20px;
}

.postcard-links a {
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.postcard-links a:hover {
  text-decoration: underline;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .about-me-section {
        padding: 0;
    } 

    .titles {
      font-size: 18px;
    }
       
.postcard {
    flex-direction: column;
    text-align: center;
    border-radius: 0;
    padding: 20px 10px ;
  }
  
  .postcard-image {
    margin-bottom: 15px;
  }

  .profile_picture {
    padding: 10px;
    border-radius: 24px;
  }

  .comptia {
    width: 40%;
    margin-bottom: -20px;
  }

  .postcard p {
    font-size: 16px;
    text-align: left;
  }

  .postcard-content {
  flex: 2;
  padding: 20px;
  }

  .highlights li {
  font-size: 16px;
  margin-bottom: 8px;
}
}
