.theme-dark {
  --light-text: #ffffff;
  --titles-text: midnightblue;
  --header-text: #ffd700;
  --name-text: midnightblue;
  --dark-background: #111;
  --section-title-text: #ffd700;
  --description-text: #fff;
  --card-text: #fff;
  --accent: #ffd700;
  --toggle: #fff;
  --display-gh: none;
  --display-gh2: display;
  --postcard-bg: #fff;
  --postcard-text: black; 
  --postcard-links: midnightblue;
}

.theme-light {
  --light-text: #000;
  --titles-text: #ffd700;
  --header-text: #fff;
  --name-text: #ffd700;
  --dark-background: #fff;
  --section-title-text: midnightblue;
  --description-text: midnightblue;
  --card-text: midnightblue;
  --accent: midnightblue;
  --toggle: green;
  --display-gh: display;
  --display-gh2: none;
  --postcard-bg: #222;
  --postcard-text: #fff;
  --postcard-links: #ffd700;
}

html,
#root {
  color: var(--light-text);
  background-color: var(--dark-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Audiowide", sans-serif;
  transition: .8s;
}

h1,
h2,
h3,
h4 {
  color: var(--description-text);
  transition: 1.3s;
}

.project-view,
.contactMethods,
p,
.cardsItemText {
  color: var(--light-text);
  transition: 1.3s;
}

.title-certs,
.title-skills,
.project-view,
.contactMethods {
  color: var(--section-title-text);
  transition: 1.3s;
}

.about-me,
.projects,
.contact {
  color: var(--header-text);
  transition: none;
}

.name {
  color: var(--name-text);
  transition: 1.3s;
}

.titles {
  color: var(--titles-text);
}

.filler,
.filler2,
.cards,
.about-container,
.skills-container,
.contactContainer,
.skillContainer,
.project-container,
.contact-img {
  background-color: var(--dark-background);
  transition: 1.3s;
}

.postcard {
  background: var(--postcard-bg);
}

.text-links:hover {
  color: var(--accent);
  transition: 1.3s;
}

.titles {
  color: var(--);
}

 
.postcard-links a {
  color: var(--postcard-links);
  transition: 1.3s;
}

.toggle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.tog-container {
  color: var(--toggle);
  margin-top: 25px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-label {
  font-size: 24px;
}

.fa-sun {
  color: #ffd700;
}

.fa-moon {
  color: #777;
}

.github {
  display: var(--display-gh);
  transition: 1.3s;
}

.github2 {
  display: var(--display-gh2);
  transition: 1.3s;
}

.postcard {
  background: var(--postcard-bg);
}

.postcard p {
  color: var(--postcard-text);
}

.postcard ul {
  transition: 1.3s;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light-text);
    background-color: var(--dark-background);
  }

  h1,
  h2,
  h3,
  h4,
  .certification {
    color: var(--description-text);
  }
  p {
    color: var(--light-text);
  }

  #learn,
  .project-view,
  .contactMethods {
    color: var(--section-title-text);
  }

  .cardsItemText {
    color: var(--card-text);
  }

  .about-me,
  .projects,
  .contact {
    color: var(--header-text);
  }

  .name {
    color: var(--name-text);
  }

  .filler2,
  .cards,
  .about-container,
  .skills-container,
  .contactContainer,
  .skillContainer,
  .project-container,
  .contact-img {
    background-color: var(--dark-background);
  }

  .text-links:hover {
    color: var(--accent);
  }

  .postcard {
    box-shadow: 0 4px 6px rgba(255, 255, 255, .6);
  }

  .postcard p {
    color: var(--postcard-text);
  }

  .postcard ul {
    color: var(--postcard-text)
    
  }

  
  .postcard-links a {
    color: var(--accent);
  }

  .postcard-links a {
    color: var(--postcard-links);
    transition: 1.3s;
  }

  @media (max-width: 768px) {
    .name,
    .titles {
      color: var(--accent);
    }
    .postcard {
      background: var(--dark-background);
      box-shadow: none;
    }
    .postcard p,
     .postcard ul {
      color: var(--light-text);
    }
  
    .postcard-links a {
      color: var(--accent);
      transition: 1.3s;
    }
  
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-text);
    background-color: var(--dark-background);
  }

  h1,
  h2,
  h3,
  h4,
  .certification {
    color: var(--description-text);
  }
  p {
    color: var(--light-text);
  }

  #learn,
  .project-view,
  .contactMethods {
    color: var(--section-title-text);
  }

  .cardsItemText {
    color: var(--card-text);
  }

  .about-me,
  .projects,
  .contact {
    color: var(--header-text);
  }

  .name {
    color: var(--name-text);
  }

  .filler2,
  .cards,
  .about-container,
  .skills-container,
  .contactContainer,
  .skillContainer,
  .project-container,
  .contact-img {
    background-color: var(--dark-background);
  }

  .text-links:hover {
    color: var(--accent);
  }

  .github2 {
    display: none;
  }

  .postcard {
    box-shadow: 0 6px 10px rgba(red, green, blue, .6);
  }

 .postcard-links a {
    color: var(--postcard-links);
    transition: 1.3s;
  }

}
